-- AlterTable
ALTER TABLE "SalesLog" ADD COLUMN     "cmOrderId" INTEGER,
ADD COLUMN     "inventoryAppliedAt" TIMESTAMP(3),
ALTER COLUMN "orderId" DROP NOT NULL,
ALTER COLUMN "ctOrderId" DROP NOT NULL,
ALTER COLUMN "isFoil" DROP NOT NULL,
ALTER COLUMN "isFoil" DROP DEFAULT,
ALTER COLUMN "unitPriceEur" DROP NOT NULL,
ALTER COLUMN "lineTotalEur" DROP NOT NULL,
ALTER COLUMN "createdAtDb" DROP NOT NULL,
ALTER COLUMN "updatedAtDb" SET DEFAULT CURRENT_TIMESTAMP;

-- CreateTable
CREATE TABLE "InventoryLot" (
    "id" TEXT NOT NULL,
    "cardmarketId" INTEGER NOT NULL,
    "isFoil" BOOLEAN NOT NULL DEFAULT false,
    "condition" TEXT NOT NULL,
    "qtyIn" INTEGER NOT NULL,
    "qtyRemaining" INTEGER NOT NULL,
    "avgUnitCostEur" DECIMAL(10,4) NOT NULL,
    "sourceCode" TEXT NOT NULL,
    "sourceDate" TIMESTAMP(3) NOT NULL,
    "location" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InventoryLot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InventoryBalance" (
    "id" TEXT NOT NULL,
    "cardmarketId" INTEGER NOT NULL,
    "isFoil" BOOLEAN NOT NULL DEFAULT false,
    "condition" TEXT NOT NULL,
    "qtyOnHand" INTEGER NOT NULL DEFAULT 0,
    "avgUnitCostEur" DECIMAL(10,4),
    "lastSaleAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "InventoryBalance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InventoryTxn" (
    "id" TEXT NOT NULL,
    "ts" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "kind" TEXT NOT NULL,
    "cardmarketId" INTEGER NOT NULL,
    "isFoil" BOOLEAN NOT NULL DEFAULT false,
    "condition" TEXT NOT NULL,
    "qty" INTEGER NOT NULL,
    "unitCostEur" DECIMAL(10,4),
    "refSource" TEXT,
    "refExternalId" TEXT,

    CONSTRAINT "InventoryTxn_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SyncCursor" (
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SyncCursor_pkey" PRIMARY KEY ("key")
);

-- CreateIndex
CREATE INDEX "InventoryLot_cardmarketId_isFoil_condition_idx" ON "InventoryLot"("cardmarketId", "isFoil", "condition");

-- CreateIndex
CREATE UNIQUE INDEX "InventoryBalance_cardmarketId_isFoil_condition_key" ON "InventoryBalance"("cardmarketId", "isFoil", "condition");

ALTER TABLE "SalesLog" ADD COLUMN IF NOT EXISTS "inventoryAppliedAt" TIMESTAMP(3);
ALTER TABLE "SalesLog" ADD COLUMN IF NOT EXISTS "inventoryAppliedAt" TIMESTAMP(3);
